@font-face {
    font-family: StratosSkyeng;
    src: url('../../../src/fonts/statosskyeng-v1.001/Desktop fonts/stratosskyeng-regular.otf')
            format('OpenType'),
        url('../../../src/fonts/statosskyeng-v1.001/Web fonts/stratosskyengweb-regular.woff')
            format('woff'),
        url('../../../src/fonts/statosskyeng-v1.001/Web fonts/stratosskyengweb-regular.woff2')
            format('woff2'),
        url('../../../src/fonts/__MACOSX/statosskyeng-v1.001/Web fonts/._stratosskyengweb-regular.woff')
            format('woff'),
        url('../../../src/fonts/__MACOSX/statosskyeng-v1.001/Desktop fonts/._stratosskyeng-regular.otf')
            format('OpenType');
    font-weight: normal;
    font-style: normal;
}
